%h2= rt :manage_header, :table => model.human_name(:count => @collection.size)

- if root_table.acts_as_list?
  %style
    :sass
      .handle
        :cursor move

%ul{:id => table.underscore}
  - @collection.each do |object|
    %li[object]
      - if root_table.acts_as_list?
        %small.handle= rt(:handle)
      %strong&= object.send(root_table.field)
      %small.actions
        = link_to_edit_root_table_item(table, object.id)
        = link_to_delete_root_table_item(table, object.id)

- if root_table.acts_as_list?
  = sortable_element table.underscore, :url => sort_root_table_table_manage_path, :handle => "handle"

%h3= rt(:actions)

%ul.actions
  %li= link_to rt(:new, :table => model.human_name), new_root_table_table_manage_path(table)
  %li= link_to rt(:back), root_table_tables_path
