<h2><%= t(".header", :table => model.human_name(:count => @collection.size)) %></h2>

<ul id="<%= table %>">
  <% @collection.each do |object| %>
    <% content_tag_for :li , object do %>
      <% if root_table.acts_as_list? %>
        <small class="handle"><%= t(".handle") %></small>
      <% end %>
      <strong><%= h object.send(root_table.field) %></strong>
      <small class="actions">
        <%= link_to_edit_root_table_item(table, object.id) %>
        <%= link_to_delete_root_table_item(table, object.id) %>
      </small>
    <% end %>
  <% end %>
<% end %>

<%- if root_table.acts_as_list? -%>
  <%= sortable_element table.underscore, :url => sort_root_table_root_table_contents_path, :handle => "handle" %>
  <%- content_for(:head) do -%>
    <%= javascript_include_tag "prototype", "effects", "dragdrop", :cache => "root_table" %>
  <% end %>
  <style type="text/css" media="screen">.handle { cursor: move; }</style>
<% end %>

<h3><%= t(".actions") %></h3>

<ul class="actions">
  <li><%= link_to t(".new", :table => model.human_name), new_root_table_root_table_content_path(table) %></li>
  <li><%= link_to t(".back"), root_tables_path %></li>
</ul>
